body{
    padding-left: 100px;
    padding-right: 100px;
    padding: 100px;
    /* background-color: blue; */
    background: blue;
}
.page{
    background-color: cornsilk;
    padding: 20px;
    border-radius: 15px;
}
/* @media(min-width: 200px) and (max-width: 510px){
    padding-left: 25px;
    padding-right: 25px;
} */